* {margin:0; padding: 0; box-sizing: border-box;}
a { text-decoration: none;}
ul,li { list-style: none;}

html,body {
    height: 100%;
}
body {
    font-family: '微软雅黑',Arial, Helvetica, sans-serif
}
#app {height: 100%;}

@font-face
{
	font-family: 'data-font';
	src: url('./font/datafont.TTF')
}