/*实时记录*/
.realtime-records {  
    &:before {
        background: url('./images/realtime_record_left.png') no-repeat;
    }  
    &:after {
        background: url('./images/realtime_record_right.png') no-repeat;
    }
    h2 {
        background: url('./images/realtime_record_header.png') no-repeat;
    }
    .records {
        background: url('./images/realtime_record_center.png') repeat-y;
    }
    .realtime-footer {
        background: url('./images/realtime_record_footer.png') no-repeat right bottom;
    }
}